{% extends 'base.html.twig' %}
{% block title%}Categories{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="categories">
   	  <div class="container">
   	    <div class="col-xs-12 col-sm-8 col-sm-push-2">
       	   <h1>Categories</h1>
       	   <hr class='divider'>
           {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
       	</div>   
   	  </div>
   </div>
<!-- Principal Content Start -->
{% endblock %}
